
.h {
    text-align:center;
}
.f {
    position:fixed; 
    left:0; bottom:0; 
    width:100%; background-color:lightblue;
    text-align:center;
}

body {
  font-size: 100%;
}

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0000ff;
  color: white;
}

